:root {
  --primary-text-collor: #757575;
  --title-text-collor: #212121;
  --accent-collor: #2196f3;
  --white-collor: #ffffff;
}

/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* текст с прозрачностью rgba(255, 255, 255, 0.6)*/
/* белый #FFFFFF */
/* акцент #2196F3 */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body {
  background-color: var(--white-collor);
  color: var(--primary-text-collor);
  font-family: roboto, sans-serif;
}
/* logo */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.header-nav {
  display: flex;
  align-items: center;
}

.site-contacts .items {
  margin-right: 50px;
}
.site-contacts .items:last-child {
  margin-right: 0;
}
.site-nav .items {
  margin-right: 50px;
}
.site-nav .items:last-child {
  margin-right: 0;
}
.site-nav {
  margin-left: 93px;
}

.logo {
  font-family: raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}
.logo .black {
  color: #000000;
}
/* site-nav */
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav a {
  color: var(--title-text-collor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
/* site-contacts */
.site-contacts {
  display: flex;
  margin-left: auto;
}
.site-contacts-link {
  color: var(--primary-text-collor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-icons {
  margin-right: 10px;
  fill: var(--primary-text-collor);
}

.site-contacts-link:focus,
.site-contacts-link:hover {
  color: #2196f3;
}
.site-contacts-link:focus .header-icons,
.site-contacts-link:hover .header-icons {
  fill:#2196f3 ;
}
  /*footer-section */
.footer-section {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-collor);
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo .white {
  color: var(--white-collor);
}
.footer-section p {
  margin-top: 20px;
}
.footer-section .link {
  margin-top: 9px;
}
.footer-section .collor {
  color: rgba(255, 255, 255, 0.6);
}
.footer-section .link:hover,
.footer-section .link:focus {
  color: #2196f3;
}
.footer-logo-list {
    display: flex;
    justify-content: center;
  }
  .footer-logo-item:not(:last-child) {
    margin-right: 10px;
  }
  .footer-logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
  }

  .footer-logo-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .footer-logo-icon{
    fill:  rgba(255, 255, 255, 1);
;
  }
  .footer-logo-link:hover,
  .footer-logo-link:focus {
    background-color: #2196f3;
  }
  .footer-logo-link:hover .footer-logo-icon,
  .footer-logo-link:focus .footer-logo-icon {
    fill:  rgba(255, 255, 255, 1);
    background-color:#2196f3;
  }
  .footer-nav{
    display: flex;
    align-items: baseline;
  }
  .conecting-list{
    margin-left: 70px;
  }
  .conecting-list h3{
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 20px;

  }
  /* hero */
  .hero {
    background-color: #2f303a;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-width: 1600px;
    margin: 0 auto;
  }

  .hero h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--white-collor);
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .hero .buttons {
    font-family: roboto, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    color: var(--white-collor);
    background: #2196f3;
  }
  /* section-line */
  .line {
    display: flex;
  }
  .line .list:not(:last-child) {
    margin-right: 30px;
  }
  /* section-advantage */
  .section-advantage {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .advantage-logo-lits {
    display: flex;
  }
  .advantage-logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  .advantage-logo-item:not(:last-child) {
    margin-right: 30px;
  }

  .advantage-logo-icon {
    width: 100%;
    height: 100%;
  }
  .advantage {
    display: flex;
  }
  .advantage .list {
    width: 270px;
  }
  .advantage .list:not(:last-child) {
    margin-right: 30px;
  }
  /* .section-line */
  .section-line {
    padding-bottom: 94px;
  }
  .section-line .line {
    justify-content: center;
  }

  .section-line h2 {
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
  }
  .section-line .list:not(:last-child) {
    margin-right: 30px;
  }
  .section-advantage .meaning {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-collor);
    margin-bottom: 10px;
  }
  .section-advantage .example {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  /* section-line */
  .section-advantage h2 {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-collor);
    margin-bottom: 50px;
  }
  .section-employee {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  /*section-employee  */
  .section-employee .line {
    display: flex;
    box-sizing: border-box;
  }
  .section-employee h2 {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-collor);
    margin-bottom: 50px;
  }
  .section-employee .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    color: var(--title-text-collor);
  }
  .employee {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section-employee .department {
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
  }
  .section-employee .list {
    text-align: center;
    background-color: #ffffff; 
    
  }
  .section-employee .list{
    border-radius: 3px;
    offset: 0px, 1px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  }

  .employee-logo-list {
    display: flex;
    justify-content: center;
  }
  .employee-logo-item:not(:last-child) {
    margin-right: 10px;
  }
  .employee-logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
  }

  .employee-logo-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .employee-logo-icon{
    fill:  rgba(175, 177, 184, 1);
;
  }
  .employee-logo-link:hover,
  .employee-logo-link:focus {
    background-color: #2196f3;
  }
  .employee-logo-link:hover .employee-logo-icon,
  .employee-logo-link:focus .employee-logo-icon {
    fill: #ffffff;
  }
}
/* portfolio buttons  */
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons-line {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.buttons-line :not(:last-child) {
  margin-right: 8px;
}
.section-portfolio .buttons {
  font-family: roboto, sans-serif;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  color: var(--title-text-collor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
}

.section-portfolio .buttons:hover,
.section-portfolio .buttons:focus {
  background-color: #2196f3;
  color: var(--white-collor);
}
.content-line {
  display: flex;
  flex-wrap: wrap;
  
}
.portfolio-list {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}
.content-line .list {
  width: 370px;
  max-height: 404px;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  border: 1px solid rgba(238, 238, 238, 1);
  offset: 0px, 1px;
}
.content-line .list:focus,
.content-line .list:hover{
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.content-line .list:nth-child(3n + 3) {
  margin-right: 0;
}
.content-line .list:nth-child(7n + 1) {
  margin-bottom: 0;
}
.section-portfolio h3 {
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-collor);
  margin-bottom: 4px;
}
.section-portfolio p {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-collor);}

.company-logo-lits {
    display: flex}
.company-name{
  margin-bottom: 50px;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color: rgba(33, 33, 33, 1);
}

.company {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .company-logo-list {
    display: flex;
  }
  .company-logo-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    background-color: #ffffff;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px
    border-color: rgba(175, 177, 184, 1);
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 0;
  }
  .company-logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .company-logo-item:not(:last-child) {
    margin-right: 30px;
  }

  .company-logo-icon {
    fill: rgba(175, 177, 184, 1);
;
  }
  .company-logo-link:hover,
  .company-logo-link:focus {
    border-color: #2196f3;
  }
  .company-logo-link:hover .company-logo-icon,
  .company-logo-link:focus .company-logo-icon {
    fill: rgba(33, 150, 243, 1);
;}

  
.dell {
  display: none;
  font-size: 0;
}


.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
